.card-title {
  color: #2a4d14;
}

.card-text {
  font-size: 0.95rem;
}

.hero-section {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: translateY(5rem);
  right: 0;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  height: 30vh;
}
.news_card {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}